.img{
  width: 100%;
height: 57px;
flex-shrink: 0;
border-radius: 10px;

}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Añade un espaciado adicional si es necesario */
  z-index: 1000; /* Ajusta el valor de z-index según tus necesidades */
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FF7674;
  margin-bottom: -60px;
}

.circle img {

  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 27px;
  align-items: center;
  
}

