.history {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  
  .Profile-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    position: relative; 
  }
  
  .image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #FF7674;
  }
  
  button {
    width: 100px;
    height: 100px;
    position: absolute; 
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .buttonImg{
    width: 30px;
    height: 30px;
  }
  
  .profile-name{
    color: #2F2F2F;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  